@font-face {
  font-family: 'Love' ;
  src: url('love larry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amor' ;
  src: url('amor.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'coracoes' ;
  src: url('bonushearts.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico' ;
  src: url('pacificoregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  height: 98vh;
  background-image: url(urso.jpg);
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

/* Responsivo para Celular */

@media screen and (max-width:500px) { 
body {
  
} 


body header .cabecario  {
  display: flex;
  }
  
body header .cabecario p {
  font-size: 15px;
}

body header .cabecario p#remetente {
  font-size: 13px;
  text-align: justify;
}

body header .cabecario p#destinatario {
  font-size: 13px;
  text-align: left;
}

body header .tituloprincipal {
  width: 10px;
  height: 300px;
  margin: -1em 0 0em -14em ;
  display: inline-block;
}

body header .tituloprincipal h1 {
  font-size: 30px;
}

body header .coracaopulsante {
  display: flex;
  background: rgba(0, 0, 0, 0);
  align-items: end;
  justify-content: right;
  height: 127px;
  width: 300px;
  padding-top: 50px;
  margin-left: auto;
  margin: -25px 50px 0 0;
}

body main div.textoprincipal .texto01 {
  display: inline-block;
  border: 10px solid red;
  width: 100%;
  height: 580px;
}

body main div.textoprincipal .texto01 > p {
  font-size: 13.4px;
  margin: ;
}

body main div.textoprincipal .texto02 {
  border: 0 ;
  width: 0;
  height: 0;
}

body main div.video {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0);
  width: 168px;
  height: 750px;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 1%;
  position: relative;
}

body main div.video iframe#video1 {
  display: inline-block;
  width: 27.7em
}

body main div.video iframe#video2 {
  display: inline-block;
  width: 27.7em;
}

body main div.video iframe#video3 {
  display: inline-block;
  width: 27.7em;
}

}

/* cabecalho */

header {
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  width: auto;
  height: 300px;
  margin: auto;
}
 
/* Coração Animado */

.coracaopulsante {
  display: flex;
  background: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 300px;
  padding-top: 50px;
  margin-left: auto;
  margin: 0;
}

.heart-love {
  position: relative;
  background: red;
  height: 80px;
  width: 80px;
  transform: rotate(-45deg);
  box-shadow: 11px 2px 50px red;
  animation: heart-beat 0.5s linear infinite;
}

@keyframes heart-beat {
  0%{
    transform: rotate(-45deg) scale(1.05);
  }
  50%{
    transform: rotate(-45deg) scale(1.0);
  }
  100%{
    transform: rotate(-45deg) scale(0.9);
  }
}

.heart-love::after {
  content: "";
  position: absolute;
  background-color: red;
  height: 80px;
  width: 80px;
  border-radius:50%;
  top: -50%;
  box-shadow: 11px 2px 50px red;
}

.heart-love::before {
  content: "";
  position: absolute;
  background-color: red;
  height: 80px;
  width: 80px;
  border-radius:50%;
  right: -50%;
  box-shadow: 11px 2px 50px red;
}

header  p {
  font-family: 'amor' ,Arial, Helvetica, sans-serif;
}

header .cabecario {
  margin: 0;
  display: inline-block;
}

header .cabecario p {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin: 0;
}

header .cabecario  p#remetente, #destinatario {
  color: rgba(248, 248, 248, 0.992);
  font-size: 20px;
  text-align: left;
}

header .tituloprincipal {
  margin: auto;
  display: block;
}

header .tituloprincipal h1 {
  font-family: 'Love' ,Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4em;
  text-align: center ;
  text-shadow: 0px 1px 11px red;
  padding-top: 50px;
}

/* Principal */

main .coracoes {
  /*background-image: url(wedding.png);
  background-size: contain;
  background-repeat: ;
  background-position: center;*/
  background:url(wedding.png) repeat-x center;
  background-size: contain;
  color: rgb(11, 11, 11);
  height: 74px;
  width: auto;
  background-color: rgba(0, 255, 255, 0);
  margin: 0;
}

div.textoprincipal {
  display: flex;
  border: 10px ridge black;
  width: auto;
  height: 600px;
}

div.textoprincipal .texto01 {
  display: inline-block;
  border: 10px solid red;
  width: 50%;
  height: 580px;
}

div.textoprincipal .texto01 > p {
  font-size: 20px;
  font-family: 'pacifico';
  margin: -5px 5px -15px ;
}

div.textoprincipal .texto02 {
  background-image: url(https://cdn.pensador.com/img/imagens/12/de/12_declarac_a_o_de_amor_o_pensador_png.jpg?auto_optimize=low&width=655);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  border: 10px solid red;
  width: 50%;
  height: 580px;
}

div.video {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0);
  width: auto;
  height: 750px;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 1%;
  position: relative;
}

div.video1 > iframe#video1 {
  display: block;
  position: absolute;
}

div.video2 > iframe#video2 {
  display: block;
  margin: auto;
}

